.Editor,
.remirror-editor-wrapper {
    min-height: 80vh !important;
}

.editorContext {
    height: 80vh;
    margin: 0 auto;
    min-width: 50vw;
}

.editorContainer {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.editorContainer>* {
    width: 100%;
}

.remirror-editor {
    box-shadow: none !important;
    padding: 0 1rem !important;
}

.remirror-editor:not(.publicPage) {
    max-height: 83.5vh;
}

.publicPage {
    height: 100%;
}

.remirror-editor>h1,
.remirror-editor>h2,
.remirror-editor>h3,
.remirror-editor>h4,
.remirror-editor>h5,
.remirror-editor>h6 {
    color: white !important;

}

div[data-callout-type="error"],
div[data-callout-type="warning"],
div[data-callout-type="success"],
div[data-callout-type="info"] {
    color: black
}

.remirror-mention-atom-popup-highlight {
    background-color: lightblue !important;
}

.remirror-mention-atom-popup-name {
    color: black !important;
}

.remirror-suggest-atom {
    color: white !important;
}

.remirror-mention-atom {
    outline: none !important;
    background: none !important;
    padding: 0 !important;
}

.viewOnlyEditor img {
    max-width: 100% !important;
}

/* Style of content of cards in the tooltip that
appeears when a mention link is hovered */
.mention-tooltip .p-card-content {
    padding: 0 !important;
}