.editorContext {
    height: 80vh;
    margin: 0 auto;
    min-width: 50vw;
}

.editorContainer {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.editorContainer>* {
    width: 100%;
}

.remirror-editor {
    box-shadow: none !important;
}

.remirror-editor>h1,
h2,
h3,
h4,
h5,
h6 {
    color: white !important;

}

div[data-callout-type="error"],
div[data-callout-type="warning"],
div[data-callout-type="success"],
div[data-callout-type="info"] {
    color: black
}

.remirror-mention-atom-popup-highlight {
    background-color: lightblue !important;
}

.remirror-mention-atom-popup-name {
    color: black !important;
}

.mentionLink {
    text-decoration: none;
    color: lightskyblue;
}

.remirror-mention-atom {
    outline: none !important;
    background: none !important;
    padding: 0 !important;
}