.menuBarButtonActive span * {
    color: white;
}

/* EDITOR */
.Editor,
.remirror-editor-wrapper {
    min-height: 80vh !important;
}

.editorContext {
    margin: 0 auto;
    min-width: 50vw;
}

.editorContainer {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.editorContainer>* {
    width: 100%;
}

.secretBlock {
    border: solid 2px rgba(131, 238, 255, 0.5);
    background-color: rgba(131, 238, 255, 0.2);
    padding: 1rem;
    border-radius: 0.1rem;
    overflow: auto;
}

.viewOnlyEditor:not(.demo) .secretBlock {
    display: none !important;
}

.remirror-editor {
    width: 100%;
    box-shadow: none !important;
    padding: 0 1rem !important;
}

.remirror-editor:not(.publicPage) {
    overflow-y: auto;
}

.remirror-editor>[data-node-text-align="none"]:not(blockquote) {
    float: none;
}

.remirror-editor>[data-node-text-align="left"]:not(blockquote) {
    float: left;
    margin-right: 1rem;
}

.remirror-editor>[data-node-text-align="right"]:not(blockquote) {
    float: right;
    margin-left: 1rem;
}

.remirror-editor blockquote p {
    color: var(--gray-200) !important;
    font-size: x-large;
    font-family: "Merriweather";
}

.remirror-list-item-with-custom-mark[data-checked] {
    text-decoration: line-through;
}

.remirror-list-item-checkbox {
    filter: none !important;
    accent-color: var(--primary-color) !important;
    width: 1rem;
    height: 1rem;
}

.publicPage {
    height: 100%;
}

.remirror-editor :where(h1, h2, h3, h4, h5, h6) {
    color: white !important;
}

div[data-callout-type="error"],
div[data-callout-type="warning"],
div[data-callout-type="success"],
div[data-callout-type="info"] {
    color: black
}

.remirror-mention-atom-popup-wrapper {
    background-color: var(--gray-700);

}

.remirror-mention-atom-popup-item {
    background-color: var(--gray-700);
    color: white !important;
}

.remirror-mention-atom-popup-highlight {
    background-color: var(--gray-500) !important;
}

.remirror-mention-atom-popup-name {
    color: white !important;
}

.remirror-suggest-atom {
    color: white !important;
}

.remirror-mention-atom {
    outline: none !important;
    background: none !important;
    padding: 0 !important;
}

.viewOnlyEditor img {
    max-width: 100% !important;
}

/* Style of content of cards in the tooltip that
appeears when a mention link is hovered */
.mention-tooltip .p-card-content {
    padding: 0 !important;
}

.normalLink {
    color: var(--blue-300);
}

:where(h1, h2, h3, h4, h5, h6) .remirror-mention-atom a,
.remirror-mention-atom a i {
    font-size: inherit !important;
}

blockquote .remirror-mention-atom a {
    color: var(--gray-200) !important;
    font-size: x-large !important;
    font-style: italic;
    font-family: "Merriweather";
}

blockquote .remirror-mention-atom a i {
    font-size: x-large !important;
}

[data-callout-type="info"] .remirror-mention-atom a,
[data-callout-type="error"] .remirror-mention-atom a,
[data-callout-type="warning"] .remirror-mention-atom a,
[data-callout-type="success"] .remirror-mention-atom a {
    color: black !important;
}

[data-column-type="true"] {
    height: 10rem;
    border: lightgray solid 1px;
}

.leaflet-pane {
    z-index: 0 !important;
}

.commandMenu {
    z-index: 99999;
}

.mappreview-node-view-wrapper {
    width: 100% !important;
}


.viewOnlyEditor .mappreview-node-view-wrapper div {
    max-width: 100% !important;
}

.boardPreview {
    z-index: 999999;
}