.Home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projectsContainer {
    width: 50%;
    display: flex;
}

.projectCardContainer {
    margin-top: 2rem;
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.projectCard {
    cursor: pointer;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    height: 20%;
    width: 80%;
    padding: 0rem 0rem;
    box-shadow: 0 0.25rem 0.25rem lightgray;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.projectCardTitleContainer {
    width: 100%;
    height: 30%;
}

.projectCardContainer h2 {
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectCardImageContainer {
    display: flex;
    align-items: flex-start;
    height: 70%;
}

.projectCardImage {
    width: 100%;
    height: 105%;
    object-fit: cover;
    transition: transform 0.1s;

}


.projectCard:hover {
    transition: transform 0.1s;
    transform: scale(1.05);
}