.Home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projectCardContainer {
    margin-top: 2rem;
    width: 35%;
    display: flex;
    justify-content: center;
}

.projectCard {
    cursor: pointer;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    height: 30%;
    width: 50%;
    padding: 0rem 0rem;
    box-shadow: 0 0.25rem 0.25rem lightgray;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.projectCardTitleContainer {
    height: 30%;
}

.projectCardImageContainer {
    display: flex;
    align-items: flex-start;
    height: 70%;
}

.projectCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s;

}

.projectCard:hover .projectCardImage {
    transition: transform 0.1s;
    transform: scale(1.05);
}