.customMenuBarIconContainer>* {
    margin: 0 !important;
}

.calloutInfoButton .pi-info-circle {
    color: lightskyblue !important;
}

.menuBarButtonActive .p-menuitem-text {
    color: red !important;
}