.menuBar {
    position: sticky;
    display: flex;
    flex-wrap: nowrap;
    border: lightgray solid 1px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.05rem 0.15rem lightgray;
}

.menuBarGroup {
    border-right: lightgray solid 1px;
}

.menuBarButton {
    height: 100%;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.menuBarButton:hover:not(.headingSelect) {
    background-color: lightgreen;
}

.menuBarButtonActive {
    background-color: green;
    color: lightgreen
}