ul {
    list-style: none;
}

.app>ul {
    box-sizing: border-box;
    height: 100%;
    padding: 30px 15px;
}

.projectContainer {
    display: flex;
    padding: 0 5rem;
}

.projectTreeContainer {
    width: 10%;
}

.projectTreeNode {}

.projectTreeNodeActive {
    background-color: lightskyblue;
}

