.p-breadcrumb {
  @apply border-transparent bg-transparent !important;
}
/* Button */
.p-button-danger {
  @apply border-red-600 text-red-600 hover:border-red-400 hover:text-red-400 active:bg-red-300 !important;
}
/* Drawer */
.p-sidebar {
  @apply bg-[#27272A] !important;
}
.treeSidebar {
  @apply flex max-h-full flex-1 flex-col !important;
}
.p-sidebar-header {
  @apply p-0 !important;
}
/* Sidebar */

.p-tabview-panels {
  @apply h-12 flex-1 p-0 !important;
}
.wikiTabs {
  .p-tabview-panels {
    @apply bg-zinc-900 !important;
  }
}
.p-tabview-nav-link {
  @apply m-0 flex w-full justify-center rounded-none border-0 bg-zinc-900 text-center !important;
  &[aria-selected="true"] {
    @apply border-b-2 border-blue-400 !important;
  }
}
.p-tabview-nav {
  li {
    a {
      @apply h-12 rounded-none !important;
    }
  }
  span {
    @apply w-full text-center !important;
  }
}

/* Editor */
.remirror-editor-wrapper {
  @apply flex-1 flex-col;
}
.remirror-editor.ProseMirror {
  @apply overflow-y-auto !important;
}
.editor,
.staticRendererContainer {
  @apply p-4 font-Lato;

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
  :is(ol, ul) {
    @apply pl-3;
  }
  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }
  blockquote {
    @apply border-0 p-0 italic;
  }
  blockquote > * {
    @apply border-l-[3px] pl-2 font-Merriweather text-2xl font-normal text-zinc-300 !important;
  }

  *[data-node-text-align="none"]:not(blockquote) {
    @apply float-none;
  }

  *[data-node-text-align="left"]:not(blockquote),
  [nodetextalignment="left"]:not(blockquote) {
    @apply float-left mr-4;
  }

  *[data-node-text-align="right"]:not(blockquote),
  *[nodetextalignment="right"]:not(blockquote) {
    @apply float-right ml-4;
  }
  *[nodetextalignment="center"]:not(blockquote) {
    @apply text-center;
  }

  div[data-callout-type="error"],
  div[data-callout-type="warning"],
  div[data-callout-type="success"],
  div[data-callout-type="info"] {
    @apply text-black !important;

    .remirror-mention-atom {
      a {
        @apply text-black;
      }
    }
  }

  .remirror-list-item-with-custom-mark {
    &[data-checked] {
      div p {
        @apply line-through !important;
      }
    }
    .remirror-list-item-checkbox {
      @apply accent-sky-400 filter-none !important;
    }
  }
  .secretBlock {
    border: solid 2px rgba(131, 238, 255, 0.5);
    background-color: rgba(131, 238, 255, 0.2);
    padding: 1rem;
    border-radius: 0.1rem;
    overflow: auto;
  }
}
.editor:focus {
  @apply outline-none;
}
.remirror-editor {
  &.ProseMirror {
    blockquote {
      @apply p-0 !important;
    }
  }
}
.p-menubar {
  @apply p-0 !important;
  .p-menuitem {
    @apply text-lg;
    &.menuBarButtonActive {
      @apply bg-sky-400;
    }
  }
  .p-menubar-end {
    @apply flex max-h-[2rem] max-w-[2rem] items-center;

    .p-progress-spinner {
      @apply w-8 !important;
    }
  }
}
.commandMenu {
  @apply z-[100] !important;
}
.p-chips-multiple-container {
  @apply max-w-full rounded-none border-t-0 !important;
}
.p-autocomplete {
  @apply block !important;
}
.p-chips-token,
.p-autocomplete-token {
  @apply my-0.5 !important;
}
.p-chips-token-label {
  @apply truncate;
}
.alterNamesChips {
  .p-chips-token {
    @apply max-w-full bg-orange-600 !important;
  }
}
.p-tag {
  @apply bg-sky-700 text-white !important;
}
.alter_namesTags {
  .p-tag {
    @apply bg-orange-600 !important;
  }
}
.documentTagsAutocomplete,
.mapTagsAutocomplete {
  ul,
  input {
    @apply w-full;
  }
}
.tagsAutocomplete {
  .p-autocomplete-token {
    @apply bg-sky-700 !important;
  }
}

.arrowSaveButton {
  @apply w-full !important;
}

/* Mentions */

.remirror-mention-atom-popup-wrapper {
  @apply bg-zinc-700 p-0 !important;
}

.remirror-mention-atom-popup-item {
  @apply bg-zinc-700 text-white;
}

.remirror-mention-atom-popup-highlight {
  @apply bg-zinc-500;
}

.remirror-mention-atom-popup-name {
  @apply text-white !important;
}

.remirror-suggest-atom {
  @apply text-white !important;
}

.remirror-mention-atom {
  @apply p-0 !important;

  .mentionMapIcon {
    @apply text-sm !important;
  }
}
.remirror-suggest-atom.suggest-at {
  @apply text-white;
}
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-highlight {
  @apply bg-blue-400;
}
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-highlight .remirror-mention-atom-popup-name,
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-hovered .remirror-mention-atom-popup-name {
  @apply text-white;
}
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-hovered {
  @apply cursor-pointer bg-blue-200;
}

/* Properties Panel */
.p-accordion-header-link {
  @apply focus:shadow-none !important;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  z-index: 0;
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 0;
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Maps */
.leaflet-container {
  @apply bg-zinc-900 !important;
}
.leaflet-control-layers-overlays {
  @apply select-none;
}

/* Inputs */

.p-inputnumber-button {
  @apply bg-blue-300 !important;
}
