body {
  margin: 0;
  overflow-y: hidden;
}

.projectTreeRoot {
  height: 72vh;
}

.Lato {
  font-family: "Lato", "Times New Roman", Times, serif;
}

.Merriweather {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}

.fontWeight700 {
  font-weight: 700;
}

.mainScreen {
  height: 95.78vh !important;
}

.pi-discord {
  color: white;
}

.deleteAllDocuments div .p-confirm-dialog-message,
.deleteAllDocuments div .p-confirm-dialog-icon {
  color: red !important;
}

.wikiTabs .p-tabview-panels {
  padding: 0 !important;
}

.remirror-table-controller-trigger-area {
  pointer-events: none !important;
}

.remirror-table-controller-mark-column-corner,
.remirror-table-controller-mark-row-corner {
  display: none !important;
}

.wikiTabs .p-tabview-nav li {
  width: 100%;
  padding: 0 !important;
}

.wikiTabs .p-tabview-nav li a {
  border-radius: 0 !important;
}

.wikiTabs .p-tabview-nav span {
  width: 100% !important;
  text-align: center !important;
}

.alterNamesChips>* {
  min-width: 100%;
}

.p-autocomplete-token-label {
  font-family: "Lato", "Times New Roman", Times, serif;
}

.highlight {
  color: cyan;
  background-color: cyan;
}

.FileBrowserListItemOdd {
  background-color: var(--gray-800);
}

.previewImage {
  object-fit: contain;
}

.p-sidebar-header {
  padding: 0 !important;
}

.listitem div {
  margin-inline-start: 0px !important;
}

.navbarMenu .pi-bars:not(.sidebarBars) {
  display: none;
}

.folderPageImage {
  transition: transform 0.15s ease-in;
}

.folderPageImage:hover {
  transition: transform 0.15s ease-in;
  transform: scale(1.05);
  background-color: var(--surface-200);
}

.folderPageImageContainer {
  width: 80px;
  height: 80px;
}

.p-breadcrumb-home a span {
  color: white !important;
}

.evenTimelineEvent {
  margin-left: 30rem;
}

.oddTimelineEvent {
  margin-right: 30rem;
}

.evenTimelineEvent .cardContainer {
  border-left: 3px solid white;
  padding-left: 5rem;
}

.oddTimelineEvent .cardContainer {
  border-right: 3px solid white;
  padding-right: 5rem;
}

.evenTimelineEvent .evenDivider {
  left: 29rem;
  top: 10rem;
}

.oddTimelineEvent .oddDivder {
  left: 59rem;
  top: 10rem;

}

.leaflet-control-layers-overlays label>* {
  user-select: none;
  cursor: pointer;
}

.leaflet-tooltip,
.leaflet-tooltip-top {
  opacity: 1 !important;
}

.leaflet-tooltip-top::before {
  border-top-color: var(--gray-800) !important;
}

.markerSidebarMapPreview {
  transition: transform ease-in-out 0.1s;

}

.markerSidebarMapPreview:hover {
  transform: scale(1.05);
  transition: transform ease-in-out 0.1s;
}

.landingImgCard {
  object-fit: cover;
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  z-index: 0;
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 0;
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}