body {
    margin: 0;
    height: 100vh !important;
}

#cy {
    opacity: 0.9999;
}

.projectTreeRoot {
    height: 72vh;
}

.Lato {
    font-family: 'Lato', 'Times New Roman', Times, serif;
}

.Merriweather {
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
}

.deleteAllDocuments div .p-confirm-dialog-message,
.deleteAllDocuments div .p-confirm-dialog-icon {
    color: red !important;
}

.p-tabview-panels {
    padding: 0 !important;
}

.remirror-table-controller-trigger-area {
    pointer-events: none !important;
}

.remirror-table-controller-mark-column-corner,
.remirror-table-controller-mark-row-corner {
    display: none !important;
}

.p-tabview-nav li {
    width: 100%;
}

.p-tabview-nav li a {
    border-radius: 0 !important;
}

.p-tabview-nav span {
    width: 100% !important;
    text-align: center !important;
}

.p-autocomplete-token-label {
    font-family: 'Lato', 'Times New Roman', Times, serif;

}

.highlight {
    color: cyan;
    background-color: cyan;
}

.FileBrowserListItemOdd {
    background-color: var(--gray-800);
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}