/* Drawer */

.p-sidebar-header {
  padding: 0 !important;
}
/* Sidebar */
.wikiTabs .p-tabview-nav li {
  width: 100%;
  padding: 0 !important;
}

.wikiTabs .p-tabview-nav li a {
  border-radius: 0 !important;
}

.wikiTabs .p-tabview-nav span {
  width: 100% !important;
  text-align: center !important;
}

/* Editor */
.remirror-editor-wrapper {
  @apply flex-col flex-1;
}
.editor {
  @apply p-4 font-Lato;
}
.editor:focus {
  outline: none;
}

.editor :is(h1, h2, h3, h4, h5, h6) {
  @apply font-bold;
}
.editor h1 {
  @apply text-2xl;
}
.editor h2 {
  @apply text-xl;
}
.editor h3 {
  @apply text-lg;
}
.editor h4 {
  @apply text-base;
}
.editor h5 {
  @apply text-sm;
}
.editor h6 {
  @apply text-xs;
}
.editor :is(ol, ul) {
  @apply pl-3;
}
.editor ol {
  @apply list-decimal;
}

.editor ul {
  @apply list-disc;
}
.p-chips-multiple-container {
  @apply max-w-full border-t-0 rounded-none !important;
}
.p-chips-token,
.p-autocomplete-token {
  @apply my-0.5 !important;
}
.p-chips-token-label {
  @apply truncate;
}
.alterNamesChips .p-chips-token {
  @apply bg-orange-600 max-w-full !important;
}
.documentTagsAutocomplete .p-autocomplete-token {
  @apply bg-blue-500 !important;
}

/* Mentions */
.remirror-mention-atom {
  @apply p-0 !important;
}
.remirror-suggest-atom.suggest-at {
  @apply text-white;
}
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-highlight {
  @apply bg-blue-400;
}
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-highlight .remirror-mention-atom-popup-name,
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-hovered .remirror-mention-atom-popup-name {
  @apply text-white;
}
.remirror-mention-atom-popup-item.remirror-mention-atom-popup-hovered {
  @apply bg-blue-200 cursor-pointer;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  z-index: 0;
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 0;
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
